/* Color Scheme */
::root {
    --dark: #282A36;
    --light: #fff;
    --pink:#E46EB6;
    --purple: #A985E2;
    --blue: #6171A4;
}


/* Global Styles */
* {
    box-sizing: border-box;
}

body {
    
}


h1, h2, h3, h4, h5, h6, p, a, li, button, div {
    font-family: 'Poppins', sans-serif;
}

p {
    line-height: 1.5;
}

button {
    display: block;
    border: 0;
    cursor: pointer;
}

button:hover {
    background-color: green;
    color: white;
}

/* Top Bar */
#top-bar {
    border-bottom: 1px solid black;
    padding: 1em 2em;
}

/* Timer */
#timer {
    position: absolute;
    top: 0;
    right: 0;
    padding: 1em 2em;
}

/* Starting container */
#start-quiz {
    text-align: center;
    width: 60vw;
    margin: 0 auto;
    padding: 2vw;
    /* border: 1px solid red; */
}

/* Title */
h1 {
    margin: 25px 0;
    font-size: 3vw;
}

/* Start button */
#start-button {
    margin: 0 auto;
    margin-top: 10px;
    padding: 1em 2em;
    transition: .5s ease;
}

/* Quiz Styling */
#quiz-section {
    border:1px solid red;
    width: 50vw;
    margin: 0 auto;
    padding: 2em;
}

/* Answer Buttons */
.btn {
    margin-left: 0;
    margin-top: 10px;
    padding-top: 1em;
    padding-bottom: 1em;
    padding-right: 2em;              
}