/* Color Scheme */
:root {
    --dark: #282A36;
    --light: #fff;
    --pink:#E46EB6;
    --purple: #A985E2;
    --blue: #6171A4;
    --lightblue: #88DFF3;
    --green: #54FA72;
}


/* Global Styles */
* {
    box-sizing: border-box;
}

body {
    background-color: var(--dark);
}


h1, h2, h3, h4, h5, h6, p, a, li, button, div {
    font-family: 'Poppins', sans-serif;
}

p {
    line-height: 1.5;
    color: var(--pink);
}


/* Top Bar */
#top-bar {
    padding: 1em 2em;
    color: var(--lightblue);
}

/* Timer */
#timer {
    position: absolute;
    top: 0;
    right: 0;
    padding: 1em 2em;
}

/* Starting container */
#start-quiz {
    text-align: center;
    width: 60vw;
    margin: 0 auto;
    padding: 2vw;
    /* border: 1px solid red; */
}

/* Title */
h1 {
    margin: 25px 0;
    font-size: 3vw;
    color: var(--blue);
}

/* Start button */
#start-button {
    display: block;
    border: 0;
    cursor: pointer;
    margin: 0 auto;
    margin-top: 10px;
    padding: 1em 2em;
    transition: .5s ease;
}

#start-button:hover {
    background-color:var(--green);
}

/* Quiz Styling */
#quiz-section {
    width: 50vw;
    margin: 0 auto;
    padding: 2em;
}

/* Questions */
#questions {
    color: var(--blue);
    font-size: 24px;
}

/* Answer Options */
.btn {
    margin-left: 0;
    margin-top: 15px;
    padding-top: 1em;
    padding-bottom: 1em;
    padding-left: .5em;
    background-color: transparent;
    border: 1px solid var(--purple);  
    display: block;    
    color: var(--pink);
    box-shadow: 0 0 5px var(--purple);
}

.btn:hover{
    background-color: var(--purple);
    cursor: pointer;
    color: var(--light);
}